/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Archivo', sans-serif;
}
.btn-primary {
  color: #fff;
  background-color: blue;
  border-color: blue;
}

#home-title-box {
  min-height: 100vh;
}

#home-title-box .p-2{
    display: none;
}

.navbar {
  position: fixed;
  bottom: 0;
  min-width: 100vw;
  z-index: 99;
  background: black !important;
  text-transform: lowercase;
}

footer{
    display: none;
}
#maincontent{
    padding-bottom: 6rem;
}

.navbar-nav li:first-child{
    font-weight: bolder;
}

.table > tbody {
  font-size: .8rem;
  line-height: 1rem;
}

.dt-buttons{
  margin: 1rem 0 2rem 0;
}
#item-table{
  padding: 2rem 0;
}
.title{
  display: none;
}

.page-item.active .page-link{
  color: blue !important;
}